split_dataset.py
wandb
outputs
/datasetV2
/dataset
challenge_subset
create_test.py
/dataset.zip
/datasetV2.zip
/checkpoints
__pycache__
mean_teacher_train/results
mean_teacher_train/train
test.py
testing.py
/clip_test
file.txt
*.txt
*.jpg
/train_48_augmented